/* --- ДІАЛОГОВЕ ВІКНО --- */
.dialogue-box {
    -fx-padding: 15px 40px 15px 40px;
    -fx-background-color: rgba(15, 22, 22, 0.75);
    -fx-border-color: #3c5050;
    -fx-border-width: 2px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0.0, 0, 10);
}

.dialogue-text {
    -fx-text-fill: #9ba89e;
}

.dialogue-hint {
    -fx-text-fill: #4b544f;
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}