/* --- ПАНЕЛЬ НАВІГАЦІЇ (Контейнер) --- */
.nav-panel {
    -fx-background-color: rgba(15, 20, 18, 0.85);
    -fx-border-color: #3b4238;
    -fx-border-width: 2px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 15px 25px 15px 25px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 5);
}

/* --- КНОПКИ ЛОКАЦІЙ --- */
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #a8a08d;
    -fx-font-family: 'Georgia';
    -fx-font-size: 15px;
    -fx-padding: 8px 10px;
    -fx-border-color: transparent transparent #2a3028 transparent;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

/* Ефект при наведенні миші */
.nav-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent transparent #515c4d transparent;
}